### Utils (logging, train file, etc)
general_config:
  model_name: taml_l4_h4_dm64_df256_hd16_dp16_dl2_lr2e4
  # loss choice
  patience: 10
  train_steps_per_epoch: 10000
  test_steps_per_epoch: 1000
  min_delta: 1.e-6
  num_epochs: 100
  save_path: /home/ivkhar/TA/models/taml/
  log_path: /home/ivkhar/TA/fit_logs/taml/

# NN compilation
optimizer_params:
  lr: 0.0002
  
scheduler_params:
  factor: 0.25
  patience: 4
  
### NN arch params
nn_arch_params:
  num_layers: 4
  num_heads: 4
  d_model: 64
  d_ff: 256  # 4 * d_model as per best practices
  head_dim: 16 # typically d_model // num_heads
  input_dim: 7
  dropout: 0.
  dim_middle_pred: 16
  dim_out_pred: 1
  num_middle_layers_pred: 2

### Generators
generator_config:
  file: '/home2/ivkhar/TA/data/normed/composition_spectrum/taml_0325_energy.h5'
  batch_size: 256
  apply_add_gauss: false
  gauss_stds: [0., 0., 0., 0., 0. , 0.]
  apply_mult_gauss: false
  mult_gauss_std: 0.0
